.box_b{
    position: relative;
}
.box_b img{
    width: 100%;
    height: 560px;
}
.loginwai{
    width: 400px;
    height: 420px;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: 200px;
    z-index: 1;
    background: #fff;
}
.loginli{
    padding: 30px 0 0 ;
    height: 390px;
    width: 400px;
}
.loginli{
    /* overflow: hidden; */
    margin: 0 40px 40px;
    height: 22px;
    width: 320px;
}
.login-form-line{
    float: left;
}
.login-form-title{
    float: left;
    font-size: 20px;
    line-height: 1.1;
    width: 158px;
    text-align: center;
    cursor: pointer;
}
.login-form input{
    padding-top: 20px;
}
.input-row{
    width: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 15px;
}
.login-form .input-row:nth-child(1){
    padding-top: 0px;
}
.input-box{
position: relative;
}
.login-form .input-txt{
    width: 280px;
    height: 28px;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-size: 14px
}
.login-form-titleArea {
    margin: 0 0px 40px;
}
.login-form .row-auto {
    margin: 10px 50px 20px;
    height: 16px;
}
label {
    cursor: default;
}
.login-form .check-label input {
    margin: 0 4px 0 0;
    vertical-align: middle;
}
.login-form .check-label input {
    margin: 0 4px 0 0;
    vertical-align: middle;
}
input {
    padding: 0;
    outline: none;
}.login-form .check-label span {
    vertical-align: middle;
}
.login-form .input-row {
    width: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 15px;
}
.box_b .row-btn .login-btn{
    border: 0;
}

.login-form .login-btn {
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ea413c;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
.login-form .row-links {
    color: #bfbfbf;
    height: 20px;
    margin-bottom: 35px;
    font-size: 14px;
}
.login-form a {
    color: #595959;
}
.fr {
    float: right;
}
.row-center span {
    color: #8c8c8c;
}
.login-form a {
    color: #595959;
}
.login-form .row-center {
    text-align: center;
}
.login-form #yc{
  overflow: hidden;
}
.login-form .captcha-box {
    float: left;
    width: 178px;
    border-radius: 2px 0 0 2px;
}
.register-form .send-captcha, .login-form .send-captcha {
    float: left;
    width: 98px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-left-width: 0;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    color: #595959;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}